// Variáveis
//
// Variáveis do projeto para utilização via Less
//
// Styleguide 1.0

// Primary 1
@c-primary1: #24292e;

// Neutrals 1
@c-neutral1: #fefefe;

// Suport Error
@c-error: #f14c4c;

// Suport Error Light
@c-errorlight: #eec5c5;

// Suport Success
@c-sucess: #739e41;

// Suport Success Light
@c-sucesslight: #e0ecd6;

// Suport Alert
@c-alert: #f2a51a;

@roboto: "Roboto", sans-serif;

@full: ~"only screen and (min-width: 1300px)";
@xl: ~"only screen and (min-width: 1200px)";
@lg: ~"only screen and (min-width: 992px)";
@md: ~"only screen and (min-width: 768px)";
@sm: ~"only screen and (min-width: 576px)";
